[submodule "kernel/linux"]
	path = kernel/linux
	url = git://github.com/raspberrypi/linux.git
	branch = rpi-4.9.y
	ignore = untracked
[submodule "kernel/tools"]
	path = kernel/tools
	url = git://github.com/raspberrypi/tools.git
	ignore = untracked
[submodule "packages/qt/qtbase"]
	path = packages/qt/qtbase
	url = git://code.qt.io/qt/qtbase.git
	branch = 5.11.1
	ignore = untracked
[submodule "packages/qt/qtxmlpatterns"]
	path = packages/qt/qtxmlpatterns
	url = git://code.qt.io/qt/qtxmlpatterns.git
	branch = 5.11.1
	ignore = untracked
[submodule "packages/qt/qtdeclarative"]
	path = packages/qt/qtdeclarative
	url = git://code.qt.io/qt/qtdeclarative.git
	branch = 5.11.1
	ignore = untracked
[submodule "packages/gstreamer/gstreamer"]
	path = packages/gstreamer/gstreamer
	url = git://anongit.freedesktop.org/git/gstreamer/gstreamer
	branch = 1.14
	ignore = untracked
[submodule "packages/gstreamer/gst-plugins-base"]
	path = packages/gstreamer/gst-plugins-base
	url = https://github.com/ali1234/gst-plugins-base
	branch = vcfix
	ignore = untracked
[submodule "packages/gstreamer/gst-plugins-good"]
	path = packages/gstreamer/gst-plugins-good
	url = git://anongit.freedesktop.org/git/gstreamer/gst-plugins-good
	branch = 1.14
	ignore = untracked
[submodule "packages/gstreamer/gst-plugins-bad"]
	path = packages/gstreamer/gst-plugins-bad
	url = git://anongit.freedesktop.org/git/gstreamer/gst-plugins-bad
	branch = 1.14
	ignore = untracked
[submodule "packages/gstreamer/gst-plugins-ugly"]
	path = packages/gstreamer/gst-plugins-ugly
	url = git://anongit.freedesktop.org/git/gstreamer/gst-plugins-ugly
	branch = 1.14
	ignore = untracked
[submodule "packages/rygel/gssdp"]
	path = packages/rygel/gssdp
	url = git://git.gnome.org/gssdp
	branch = gssdp_1.0
	ignore = untracked
[submodule "packages/rygel/gupnp"]
	path = packages/rygel/gupnp
	url = git://git.gnome.org/gupnp
	branch = gupnp-1.0
	ignore = untracked
[submodule "packages/rygel/gupnp-av"]
	path = packages/rygel/gupnp-av
	url = git://git.gnome.org/gupnp-av
	ignore = untracked
[submodule "packages/rygel/gupnp-dlna"]
	path = packages/rygel/gupnp-dlna
	url = git://git.gnome.org/gupnp-dlna
	ignore = untracked
[submodule "packages/rygel/gupnp-tools"]
	path = packages/rygel/gupnp-tools
	url = git://git.gnome.org/gupnp-tools
	ignore = untracked
[submodule "packages/rygel/rygel"]
	path = packages/rygel/rygel
	url = git://git.gnome.org/rygel
	ignore = untracked
[submodule "packages/pymtpd/pymtpd"]
	path = packages/pymtpd/pymtpd
	url = git://github.com/ali1234/pymtpd
	ignore = untracked
[submodule "packages/qmlrss/qmlrss"]
	path = packages/qmlrss/qmlrss
	url = git://github.com/ali1234/qmlrss
	ignore = untracked
[submodule "packages/apds9960d/apds9960d"]
	path = packages/apds9960d/apds9960d
	url = https://github.com/ali1234/apds9960d
[submodule "packages/gstreamer/gst-libav"]
	path = packages/gstreamer/gst-libav
	url = git://anongit.freedesktop.org/gstreamer/gst-libav
	branch = 1.14
	ignore = untracked
[submodule "packages/gstreamer/gst-omx"]
	path = packages/gstreamer/gst-omx
	url = git://anongit.freedesktop.org/gstreamer/gst-omx
	branch = 1.14
	ignore = untracked
[submodule "packages/gstreamer/gst-rpicamsrc"]
	path = packages/gstreamer/gst-rpicamsrc
	url = git://github.com/thaytan/gst-rpicamsrc
[submodule "packages/gstreamer/gst-rtsp-server"]
	path = packages/gstreamer/gst-rtsp-server
	url = git://anongit.freedesktop.org/gstreamer/gst-rtsp-server
[submodule "packages/piroverd"]
	path = packages/piroverd/piroverd
	url = git://github.com/ali1234/piroverd
